<h1>Dealers in US</h1>

<a href="/dealers/new">Add New Location</a>
<% @dealers.each do |dealer| %>

<p><a href="/dealers/<%= dealer.id %>"><%= dealer.city %>.</a> Address: <%= dealer.address %>.</p>
<% end %>
