<h1><%= @dealer.city %></h1>

<p><%= @dealer.address %></p>



<a href="/makes/">Check Cars</a>
<a href="/dealers/">Back</a>
<%= link_to 'Edit Dealer', edit_dealer_path(@dealer) %>
<%= link_to 'Delete dealer', dealer_path(@dealer), method: :delete %>
